<link rel="stylesheet" href="~/css/picross.css" />

<a asp-action="Logout" asp-controller="Home">Logout</a>

<div id="container">
    <div>
        <h1>My Puzzles</h1>
    </div>
    
    <div>
        <h1>Community puzzles</h1>
    </div>
</div>