<link rel="stylesheet" href="~/css/picross.css" />

<div id="wrapper">
    <div id="container">
        <a asp-controller="Home" asp-action="Logout">Logout</a>
        <div>
            <h1>My Puzzles</h1>
            <a asp-controller="Picross" asp-action="MakePuzzle">+new puzzle</a>
        </div>
        
        <div>
            <h1>Community puzzles</h1>
        </div>
    </div>
</div>